{
     "type": "s3",
     "settings": {
       "bucket": "{{ config.bucket.s3 }}",
       "base_path" : "{{ config.bucket.base_path }}",
       "access_key": "{{ config.bucket.access_key }}",
       "secret_key": "{{ config.bucket.access_secret }}"{% if 'ultron' in config.bucket.base_path %},{% endif %}
   }
}